*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: #f9004d;
}
/* Hero section  */
.hero{
    /* display: flex; */
    height: 100vh;
    width: 100%;
    background-color: rgb(46, 139, 119);
    /* background-color: black; */
    /* border: 2px solid red; */
    /* justify-content: space-between; */
}
@keyframes backgroundAnimation{
    to{
        background-image: url(Image1.jpg);
        filter: blur(40%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    from{
        background-image: url(Image2.jpg);
        filter: blur(20%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@keyframes slideInLeft{
    from{
        transform: translateX(-350px);
        filter: blur(40px);
    }
    to{
        transform: translateY(0px);
        filter: blur(0px);
    }
}
@keyframes slideInRight{
    from{
        transform: translateX(1950px);
        filter: blur(40px);
    }
    to{
        transform: translateY(0px);
        filter: blur(0px);
    }
}
#name{
    animation-name: slideInLeft;
    animation-duration: 5s;
    display: inline;
}
#name span{
    animation-name: slideInRight;
    animation-duration: 5s;
    animation-delay: 7s;
}
#name_titel{
    font-size: 4rem;
    font-weight: bolder;
    padding-left: 5px;
    animation-name: slideInRight;
    animation-duration: 5s;
    animation-duration: 7s;
}
#profile_photo{
    background-position: center;
    height: 100%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation-name: slideInRight;
    animation-duration: 5s;
}
nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-transform: capitalize;
}
nav ul li{
     display: inline-block;
     cursor: pointer;
     color: white;
     padding-left: 30px;
     font-size: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
}
nav ul li a:hover{
    color: darkblue;
    transition: .6s;
}

.btn{
    color: white;
    background-color: #f9004d;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    border: 2px transparent;
    cursor: pointer;
    transition: transform 0.4s;
}
.btn:hover{
    transform: scale(1.1);
    color: #f9004d;
}


.content{
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h4{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}
h1{
    color: white;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 10px;
}
.content h3{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.inputfield form{
    position: relative;
    /* display: inline-block; */
    width: 300px;
    max-width: 100%;
}
.inputfield form #mail{
    display: inline-block;
    border: 2px solid #000;
    outline: none;
    border-radius: 25px;
    padding: 10px 75px 10px 20px;
}
.inputfield form #mail:hover{
    background-color: transparent;
    color: white;
    border: 2px solid red;
}
.inputfield form #submit{
    position: absolute;
    outline: none;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    padding: 10px 20px ;
    border: transparent;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 4px;
    transition: transform 0.4s;
}
.inputfield form #submit:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #f9004d;
}



/* About section  */


.about{
    width: 100%;
    /* height: 100vh; */
    background-color: #191919;
    padding: 80px 0px;
}

 /* About section responsive  */

@media only screen and (max-width:1100px){
    .container{
        flex-direction: column;
        /* background-color: pink; */
        display: inline-block;
        flex-wrap: wrap;
    }
    .text{
        margin-top: 20px;
        text-align: center;
    }
    .btn{
        display: none;
    }
 }
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.text{
    width: 450px;
    /* width: 40%; */
}

img{
    /* height: auto; */
    height: 450px;
    width: 450px;
}

h2{
    color: white;
    margin-bottom: 12px;
    font-size: 55px;
}
h4{
    color: white;
    margin-bottom: 12px;
}
 p{
    color: white;
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
span{
    color: #f9004d;
}
button{
    color: white;
    background-color: #f9004d;
    outline: none;
    padding: 8px 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    letter-spacing: 1px;
    transition: transform 0.5s;
}
button:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #f9004d;
}



/* service section  */

.service{
    width: 100%;
    padding: 100px 0px;
    background: #000;
}
.title h1{
    margin: 20px auto;
    text-align: center;
    /* width: 1130px; */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slideInLeft;
    animation-duration: 5s;
}

   /* Cards Responsive  */


@media only screen and (max-width:1180px){
    .box{
        /* display: inline-block;
        text-align: center; */
        flex-wrap: wrap;
    }
}
.card{
    /* border: 2px solid red; */
    width: 350px;
    height: 485px;
    margin: 20px;
    padding: 22px 22px;
    text-align: center;
    border-radius: 0px 80px 00px 80px;
    background-color: #191919;
    transition: transform 0.5s;
}
.card:hover{
    background-color: transparent;
    border: 1px solid #f9004d;
    transform: scale(1.1);
}
.card i{
    margin-top: 12px;
    color: #f9004d;
    display: block;
    font-size:40px ;
    margin-bottom: 12px;
   cursor: pointer;
}

.card p{
    line-height: 1.8;
    color: aliceblue;
    text-align: inherit;
}
.card p a{
    color: white;
    background-color: #f9004d;
    outline: none;
    border: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.4s;
}
.card p a:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #f9004d;
}

/* contact section  */
.contact{
    width: 100%;
    /* height: 200px; */
    padding: 40px 0px;
    background-color: #191919;
    display: inline-block;
    /* justify-content: center; */
    text-align: center;
}
.contact h3{
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 12px ;
}
.contact-me {
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
}

/* contact section responsive  */
@media only screen and (max-width:800px){
    /* .contact{
        display: block;
    } */
    .contact-me{
        margin-bottom: 20px;
    }
}
button a{
    color: white;
    text-decoration: none;
}



/* footer section  */
footer{
    width: 100%;
    /* height: 150px; */
    background-color: #191919;
    border-top: 2px solid #000;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.foot li {
    list-style: none;
    padding: 0px 20px;
}
.foot li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.foot li a:hover{
    color: #f9004d;
}


/* social icons  */
.social{
    height: 100px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
}

.social li{
    list-style: none;
    padding: 0px 30px;
}
/* .social li i{
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    transition: transform 0.8s;
    text-align: center;
} */
/* .social li i:hover{
    transform: scale(1.1);
    color: black;
    background-color: #f9004d;
    border: transparent;
} */
.resume_main{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
}
.resume_main object{
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 10px;
    scroll-behavior: smooth;
    margin: 10px;
}
.resume_main button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume_main button svg{
    width: 20px;
    height: 20px;
}
#resume_text{
    word-spacing: 10px;
    padding: 20px;
}
.project{
    height: 550px;
    padding-top: 10px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
.project img{
    width: 300px;
    height: 350px;
    margin: 6px;
    border: none;
    border-radius: 80px 30px 80px 30px;
}
#my_project{
    text-align: center;
    background-color: #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width:750px){
    .foot{
        width: 100%;
        display: inline-block;
        text-align: center;
        line-height: 2;
    }
    .social{
        display: none;
    }
}